/* Colors */
:root {
  --primary-color: #ff5003;
  --secondary-color: #002347;
  --black-text-color: #1a1a1a;
  --white-text-color: #eeeeee;
  --background-color: #efefef;
  --accent-color: #ff8e00;

  color: #1a1a1a;
  background-color: var(--background-color);
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* animations */

.slideInLeft {
  animation: slideIn 300ms linear;
}

@keyframes slideIn {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

.slideInRight {
  animation: slideInRight 300ms linear;
}

@keyframes slideInRight {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

.slideOutRight {
  animation: slideOutRight 300ms linear;
}

@keyframes slideOutRight {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}

.slideOutLeft {
  animation: slideOut 300ms linear;
}

@keyframes slideOut {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

.bgAnimated {
  animation: bgAnimated 2s infinite linear;
}

@keyframes bgAnimated {
  0% {
    background-position: 0 -50%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0 85%;
  }
}
