.homePage-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  text-align: center;
  gap: 2rem;
}

.homePage-cards-Container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.homepage-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* From laptop */

@media screen and (min-width: 1260px) {
  .homePage-cards-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
