.spinner {
  width: 30px;
  height: 30px;
  border: 5px solid var(--secondary-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
